@import "tailwindcss";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.bounce-dot {
    animation: bounce 1s infinite;
    display: inline-block;
}
.animate-delay-100 {
    animation-delay: 0.2s;
}
.animate-delay-200 {
    animation-delay: 0.4s;
}
